.Card {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #d3d5db;
    height: 150px;
    box-shadow: 1px 1px 1px black;
    position: relative;
}

.Description {
    font-size: 1rem;
    color: #334fb5;
    position: absolute;
    bottom: 30px;
    padding-left: 3px;
}

.Money {
    font-size: 2rem;
    color: #85bb65;
    position: absolute;
    bottom: 75px;
    right: 0px;
    padding-right: 3px;
}

.Category {
    position: absolute;
    bottom: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    right: 5px;
}

.Logo {
    position: absolute;
    right: 5px;
    bottom: 15px;
}

.DeleteButton {
    display: none;
    position: absolute;
    left: calc(20% + 2px);
    bottom: 0px;
    background-color: #d40202;
    outline: none;
    cursor: pointer;
    border: 1px solid #870303;
    color: white;
    font-family: inherit;
    font-size: 2rem;
    padding: 5px;
    box-shadow: 2px 2px 2px #870303;
    width: 20%;
    height: 30%;
}

.DeleteButton:hover, .DeleteButton:active {
    background-color: #e33232;
    border: 1px solid #870303;
    color: white;
}

.Card:hover > .DeleteButton, .DeleteButton:hover {
    display: inline-block;
}

.EditButton {
    display: none;
    position: absolute;
    left: 0px;
    bottom: 0px;
    background-color: #334fb5;
    outline: none;
    cursor: pointer;
    border: 1px solid #1a3bb0;
    color: white;
    font-family: inherit;
    font-size: 2rem;
    padding: 5px;
    box-shadow: 2px 2px 2px #1a3bb0;
    width: 20%;
    height: 30%;
}

.EditButton:hover, .EditButton:active {
    background-color: #4265e3;
    border: 1px solid #1a3bb0;
    color: white;
}

.Card:hover > .EditButton, .EditButton:hover {
    display: inline-block;
}
/* Desktop only */
@media (min-width: 500px) {
    .Card {
        width: 30%;
    }

    .Description {
        font-size: 1.5rem;
    }
}

/* Mobile only */
@media(max-width: 499px) {
    .DeleteButton {
        display: inline-block;
        width: 15%;
        height: 15%;
        font-size: 1rem;
        padding-top: 0px;
        left: calc(15% + 2px);

    }
    .EditButton {
        display: inline-block;
        width: 15%;
        height: 15%;
        font-size: 1rem;
        padding-top: 0px;

    }
}