.AddButton {
    background-color: #85bb65;
    outline: none;
    cursor: pointer;
    border: 1px solid #173008;
    color: white;
    font-family: inherit;
    font-size: 3rem;
    padding: 0px 30px;
    box-shadow: 2px 2px 2px #173008;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}

.AddButton:hover, .AddButton:active {
    background-color: #a5c991;
    border: 1px solid #173008;
    color: white;
}

.AddButtonContainer {
    width: 60%;
    height: 50px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.Confirm, .Cancel {
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    width: fit-content;
}

.Confirm:hover{
    cursor: pointer;
    color:  #85bb65; 
}

.Cancel:hover {
    cursor: pointer;
    color: #e33232;
}


/* Desktop only */
@media(min-width: 500px) {
    .AddButtonContainer {
        width: 20%;
    }
}

/* Mobile only */
@media(max-width: 499px) {
    .Confirm {
        color:#85bb65;
    }
    .Cancel {
        color: #e33232;
    }
}